{% extends 'base.html' %}

{% block content %}
  <div class="container bg-secondary px-0 mt-3" style="max-width: 500px;">
    <div class="container bg-primary d-flex justify-content-between align-items-center">
      <a href="{% url 'polls:index' %}" class="btn btn-primary border border-white"><i class="bi bi-list"></i></a>
      <h1  class="p-3 m-0">Polls app</h1>
      <div>
        <a href="{% url 'polls:create' %}" class="btn btn-success border border-white"><i class="bi bi-plus"></i></a>
      </div>
    </div>
    <div class="container py-3">
      {% block polls %}
        <!-- polls -->
      {% endblock %}
    </div>
  </div>
{% endblock %}
